{% block content %}
    {% for music_name in musics %}
        <div class="song-info" id="{{ music_name }}">
            <!--<div style="color:white;" class="songDiv">-->
            <div class="songName"><p id="song" style="color:white; ">{{ music_name }}</p></div>
            <div id="image-{{ music_name }}" class="pics"
                 value="{{ image_urls[loop.index - 1] }}"></div>
            <div id="music-{{ music_name }}" class="musicSource"
                 value="{{ music_urls[loop.index - 1] }}"></div>
            <!--<div id="songtime-{{ music_name }}" >04:37</div>-->
            <div id="duration-{{ music_name }}" class="songTime"
                 value="{{ durations[loop.index - 1] }}">{{ durations[loop.index - 1] }}</div>
            <div id="artist-{{ music_name }}" class="artists" value="{{ artists[loop.index - 1] }}"
                 hidden></div>
            <img class="playButtons" id="playbutton-{{ music_name }}" src="static/Play.png">
            <div class="timeline">
                <div id="pastime-{{ music_name }}" class="pastime"></div>
            </div>
        </div>
    {% endfor %}


{% endblock %}