{% extends "base.html" %}
{% block links %}
    <ul>
        <li><a class="active" href="/home">Home</a></li>
        <li><a href="/wipeout">Wipe Out</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
{% endblock %}

{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="../static/homepage.css">
    </head>


    <div id="firstblock" class="transparentLayer">
        <br>
        <br>
        <div class="homePage_banner transparentLayer">
            <div class="greetings">
                <h1>Hi, {{ username }}!</h1>
                <div class="intro-text">
                    <p>Record your life and catch every impressive moment.
                        <br>
                        Upload photos to create an album of your own.
                    </p>
                </div>
            </div>
            <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="upload-widgets">
                    {{ form.image.label(id="viewFile") }}
                    <div><p id="upload-info"></p></div>
                    {{ form.image() }}
                    {{ form.music.label() }}
                    {{ form.music() }}
                    <input type="submit" value="upload" id="upload-button">
                </div>
            </form>
        </div>
    </div>

    <!-- thumbnails showing part -->
    <div class="thumbnails-block">
        <div class="thumbnail-container">
            <div class="row" id="box">
                {% for orig_tbn in orig_tbn_img %}
                    <div class="col">
                        <div class="thumbnail-block">
                            <img id="{{ orig_tbn }}" class="originThumbnails" src="{{ orig_tbn_url[loop.index - 1] }}">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id='wrap' class="upload_block">
            <div class="upload_title">
                <span id="close_button">&times;</span>
                <p id="uploadTitle" style="color:white;top: 3px;position: absolute;left: 36px;">1 upload complete</p>
                <p id="check" style="color:white;display:none;">{{ check }}</p>
            </div>
            <div class="upload_files_info">
                <p id="upload-filename">{{ form.file.data.filename }}</p>
            </div>
        </div>
    </div>
    <!-- modals -->
    <div id="myModal" class="modal">
        <!-- close button -->
        <span id="modalclose" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
        <!-- modal block -->
        <img class="modal-content" id="img01">
        <!-- slides block -->
        <div class="w3-content">
            <img id="pic01" class="mySlides" src="img01.jpg">
            <img id="pic02" class="mySlides" src="img01.jpg">
            <img id="pic03" class="mySlides" src="img01.jpg">
            <img id="pic04" class="mySlides" src="img01.jpg">
            <div class="w3-row-padding w3-section">
                <img id="slide01" class="demo w3-opacity w3-hover-opacity-off" src="img02.jpg" style="width:10%"
                     onclick="currentDiv(1)">
                <img id="slide02" class="demo w3-opacity w3-hover-opacity-off" src="img02.jpg" style="width:10%"
                     onclick="currentDiv(2)">
                <img id="slide03" class="demo w3-opacity w3-hover-opacity-off" src="img02.jpg" style="width:10%"
                     onclick="currentDiv(3)">
                <img id="slide04" class="demo w3-opacity w3-hover-opacity-off" src="img02.jpg" style="width:10%"
                     onclick="currentDiv(4)">
            </div>
        </div>
    </div>

    {% for image_name in all_images %}
        <div id="thumbnail-{{ image_name }}" value="{{ all_tbn_url[loop.index - 1] }}" hidden></div>
        <div id="image-{{ image_name }}" value="{{ all_image_url[loop.index - 1] }}" hidden></div>
    {% endfor %}

    <script src="../static/homepage.js" type="text/javascript" charset="utf-8"></script>

{% endblock %}

