{% extends "base.html" %}

{% block links %}
    <ul>
        <li><a class="active" href="/home">Home</a></li>
        <li><a href="/playlist">Play List</a></li>
        <li style="float:right"><a href="/logout">Logout</a></li>
        <li style="float:right"><a href="/wipeout">Wipe Out</a></li>
    </ul>
{% endblock %}

{% block content %}
<head>
        <link rel="stylesheet" type="text/css" href="static/homepage.css">
</head>
    <div id="backgroundImg">
        <div id="backgroundOverlay"></div>
    </div>
    <div id="firstblock" class="transparentLayer">
        <div class="homePage_banner transparentLayer">
            <div class="greetings">
                <h1 id="hello">Hi, {{ username }}!</h1>
                <div class="intro-text">
                    <p>Upload music and create the best album.
                        <br>
                        Your personal music station starts here.
                    </p>
                </div>
                <a href="#upload-related" id="upload-guide">Update now ></a>
            </div>
        </div>
    </div>
    <!-- thumbnails showing part -->
    <div class="thumbnails-block">
        <div class="thumbnail-container">
            <div class="row" id="box">
                {% for music_name in musics %}
                    <div class="col">
                        <div class="thumbnail-block">
                            <img id="thumbnail-{{ music_name }}" class="originThumbnails"
                                 src="{{ thumbnail_urls[loop.index - 1] }}">
                            <div class="overlay"></div>
                            <div class="playButton">
                                <div id="play-border">
                                    <div id="triangle">
                                        <img class="playButtons" id="playbutton-{{ music_name }}" src="static/Play.png">
                                    </div>
                                </div>
                            </div>
                            <button class="addToList" value="{{ music_name }}">+</button>
                            <audio class="uploadedMusics" id="audio-{{ music_name }}" controls>
                                <source src="{{ music_urls[loop.index - 1] }}">
                            </audio>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id='wrap' class="upload_block">
            <div class="upload_title">
                <span id="close_button">&times;</span>
                <p id="uploadTitle" style="color:white;top: 3px;position: absolute;left: 36px;">1 upload complete</p>
                <p id="check" style="color:white;display:none;">{{ check }}</p>
            </div>
            <div class="upload_files_info">
                <p id="upload-filename">{{ form.image.data.filename }}</p>
            </div>
        </div>
    </div>
    <div id="upload-related">
        <div id="single-intro_block">
            <div id="singles-intro">
                    <p style="font-size: 50px;font-weight: bold;margin: 30px 0;">Need more songs?</p>
                    <p style="font-size: 20px;margin: 30px 0;">Start updating your favorite musics.</p>
            </div>
        </div>
        <form id="upload-form" action="" method="POST" enctype="multipart/form-data">                {{ form.hidden_tag() }}
                <div class="upload-widgets" style="width:100%">
                    <div id="widgets">
                        {{ form.image.label(id="viewImage") }}
                        {{ form.image() }}
                        {{ form.music.label(id="viewMusic") }}
                        {{ form.music() }}
                        <input type="submit" value="Upload" id="upload-button">
                    </div>
                </div>
            </form>
    </div>
    <!-- modals -->
    <div id="myModal" class="modal">
        <!--entire body -->
        <div id="entire">
            <!-- left part -->
            <div id="left">
                <div id="single-info">
                    <p id="single-title">Album Title</p>
                    <p id="single-artist">Music Artist</p>
                </div>
                <img id="pic01" class="mySlides" src="img01.jpg">
                <div class="timeline">
                    <div id="pastime"></div>
                </div>
            </div>
            <!-- right part -->
            <div id="right">
                <div id="song-list">
                    <div id="song-info">
                        <img class="playButtons" id="mainPlayButton" src="static/Play.png">
                        <div class="songDiv" id="songDiv1"><p id="song" style="color:white; "></p></div>
                        <div id="songTime">04:37</div>
                        <audio id="mainAudio"></audio>
                    </div>
                </div>
            </div>
        </div>
        <!-- close button -->
        <span id="modalclose">&times;</span>
    </div>
    {% for music_name in musics %}
        <div id= {{ music_name }}>
            <div id="thumbnail-{{ music_name }}" value="{{ thumbnail_urls[loop.index - 1] }}"></div>
            <div id="image-{{ music_name }}" value="{{ image_urls[loop.index - 1] }}"></div>
            <div id="music-{{ music_name }}" value="{{ music_urls[loop.index - 1] }}"></div>
            <div id="duration-{{ music_name }}" value="{{ durations[loop.index - 1] }}" hidden></div>
            <div id="artist-{{ music_name }}" value="{{ artists[loop.index - 1] }}" hidden></div>
        </div>
    {% endfor %}

    <script src="static/homepage.js" type="text/javascript" charset="utf-8"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script>
        $(".addToList").click(function () {
            var text = $(this).attr('value');

            $.ajax({
                url: "/addToList",
                type: "get",
                data: {jsdata: text},
                success: function (response) {
                },
                error: function (xhr) {
                    //Do Something to handle error
                }
            });
        });
    </script>
    <script>
        $('audio').on('play',function(){
            $('audio').not(this).each(function(){
                $(this)[0].pause();
                $(this)[0].currentTime = 0.0;
                $(#('playbutton-'+ $(this).attr('id').slice(6))).attr("src", "../static/Play.png");
            });
            $(#('playbutton-'+ $(this).attr('id').slice(6))).attr("src", "../static/Pause.png");
        });
    </script>

{% endblock %}
