{% extends "base.html" %}
{% block links %}
    <ul>
        <li><a class="active" href="/home">Home</a></li>
        <li><a href="/cleanList">Clean Play List</a></li>
    </ul>
{% endblock %}


{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="static/playlist.css">
    </head>
    <!--<img src="https://ece1779-images-remi.s3.amazonaws.com/2.jpeg?AWSAccessKeyId=AKIAJXRND7TNNOWKC4MA&Signature=60aqEqJdYzhD87pbNldLCP0gXVw%3D&Expires=1543693324" alt="" width="100" height="140" hidden>
    <span class="avg-color" hidden></span>-->
    <!-- modals -->
    <div id="myModal" class="modal">
        <!--entire body -->
        <div id="entire">
            <button id="shareList">Share Play List</button>
            <button id="stopSharing">Stop Sharing</button>
            <div id="place_for_sharableLink"></div>
            <!-- left part -->
            <div id="left">
                <div id="single-info">
                    <p id="single-title">My Playlist</p>
                    <p id="single-artist">Music Artist</p>
                </div>
                <img id="pic01" class="mySlides" src="static/cover.png">
            </div>
            <!-- right part -->
            <div id="right">
                <div id="song-list">
                    {% for music_name in musics %}
                        <div class="song-info" id="{{ music_name }}">
                            <!--<div style="color:white;" class="songDiv">-->
                            <div class="songName"><p id="song" style="color:white; ">{{ music_name }}</p></div>
                            <div id="image-{{ music_name }}" class="pics"
                                 value="{{ image_urls[loop.index - 1] }}"></div>
                            <div id="music-{{ music_name }}" class="musicSource"
                                 value="{{ music_urls[loop.index - 1] }}"></div>
                            <!--<div id="songtime-{{ music_name }}" >04:37</div>-->
                            <div id="duration-{{ music_name }}" class="songTime"
                                 value="{{ durations[loop.index - 1] }}">{{ durations[loop.index - 1] }}</div>
                            <div id="artist-{{ music_name }}" class="artists" value="{{ artists[loop.index - 1] }}"
                                 hidden></div>
                            <img class="playButtons" id="playbutton-{{ music_name }}" src="static/Play.png">
                            <div class="timeline">
                                <div id="pastime-{{ music_name }}" class="pastime"></div>
                            </div>
                            <form id="remove_from_list-{{ music_name }}" class="removeFromList"
                                  action="{{ url_for('removeFromList', musicname=music_name) }}">
                                <input type="submit" value="-" id="remove_from_list" title="Remove from playlist">
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="static/playlist.js" type="text/javascript" charset="utf-8"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script>
        $("#shareList").click(function () {
            var text = $(this).val();

            $.ajax({
                url: "/sharePlaylist",
                type: "get",
                data: {jsdata: text},
                success: function (response) {
                    $("#place_for_sharableLink").html(response);
                },
                error: function (xhr) {
                    //Do Something to handle error
                }
            });
        });

        $("#stopSharing").click(function () {
            var text = $(this).val();

            $.ajax({
                url: "/stopSharing",
                type: "get",
                data: {jsdata: text},
                success: function (response) {
                },
                error: function (xhr) {
                    //Do Something to handle error
                }
            });
        });

    </script>

{% endblock %}
