body {
    font-family: Arial, Helvetica, sans-serif;
}
/* modal background settings */
.modal {
    overflow: auto;
}

/* pictures */
.modal-content {
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    max-width: 1000px;
}

.w3-content {
    height: 100rem;
}

.w3-section {
    margin: auto;
    display: inline-block;
    vertical-align: middle;
}

/* add animation */
.modal-content{
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.1s;
    animation-name: fadeIn;
    animation-duration: 0.1s;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* modalclose button */
#modalclose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#modalclose:hover,
#modalclose:focus {
    color: #bbb;
    cursor: pointer;
}

/* maximum height of modal pictures */
#pic01, #pic02, #pic03, #pic04 {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    width:280px;
}



.demo {
    cursor: pointer;
    transition: 0.3s;
}

.demo:hover {
    opacity: 0.7;
}

.upload_block {
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 1;
    visibility: visible;
    border: 1px solid #ccc;

}

#wrap {
    bottom: 0px;
    left: 0px;
    position: fixed;
    text-align: center;
    height: 180px;
   display: none;
    opacity: 0;
    transition: all 0.4s linear;
    background-image: linear-gradient(rgba(54, 54, 54, 0.3), rgb(0, 0, 0));
    width: 100%;
    border:0px;
}

.upload_title{
    display: inline-block;
    width: 100%;
    height: 54px;
}
#place_for_sharableLink{
    display: inline-block;
    width: 100%;
    height: 53px;
    color:white;

}

#close_button {
    display:inline-block;
    font-size: 36px;
    transition: 0.3s;
    font-weight: normal;
    color: #f1f1f1;
    position:relative;
    top:10px;
}

#close_button:focus {
    cursor: pointer;
}

#close_button:hover {
    opacity: 0.7;
    cursor: pointer;
}

#uploadTitle{
    font-size: 20px;
    font-weight: bold;
    color:white;
    display:inline-block;
    position: relative;
    top: 3px;
}

/* audio styling */
.audioBlock{
    width:800px;
    bottom:0px;
    z-index:100;
    height: 80px;
    background-color: rgb(26, 26, 26);
    display: inline-block;
}

#mainPlayer{
    display: inline-block;
    width: 600px; /* need to use rem */
    position: relative;
    top: 20px;
    z-index: 100;
    opacity: 1;
    visibility: visible;
 }

audio{
    width:100%;
    position:absolute;
    bottom:0px;
    opacity: 0;
    visibility: hidden;
}



.thumbnail-block:hover > audio{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear
}

audio:hover{
    visibility: visible;
    opacity: 1;
}

.thumbnail-block:hover > .overlay{
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0.4;
    background-image: linear-gradient(rgba(0,0,0,.3),#141414);
}

audio::-webkit-media-controls-overlay-play-button {
  visibility:hidden;
}

.playButtons{
    display: inline-block;
    position: absolute;
    top: 18px;
    visibility: hidden;
    left: -5px;
}

#play-border, #main-play-border{
    background-color:rgba(0,0,0,0);
    border-radius:50%;
    border-style:solid;
    border-width:1px;
    padding: 0px;
    border-color:rgba(255, 255, 255, 0.7);
    transition: width 0.05s, height 0.05s;
    -webkit-transition: width 0.05s, height 0.05s; /* For Safari 3.1 to 6.0 */
    width:45px;
    height:45px;

}

#triangle, #main-triangle{
    height: 42px;
    width: 42px;
}

#play-border:hover{
    height:50px;
    width:50px;
    opacity:0.7;
    background-color:black;
}

.thumbnail-block:hover > .playButton{
    visibility:visible;
}

.thumbnail-block:hover > .addList{
    visibility: visible;
}

#left{
/*
    margin-left: 10%;
    position: absolute;
    top: 10%;
    display: block;
    margin-right: 10%;
    */
    width: 280px;
    display:inline-block;
    vertical-align: top;
    margin:0 1.0rem;
}

#right{
    min-width: 230px;
    display:inline-block;
    vertical-align: top;
}

#single-title{
    font-size:34px;
    font-weight:bolder;
    min-width:120px;

}

#single-artist{
    font-size:16px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#single-artist::before{
    content: "By ";
    opacity:0.7;
}

#song-list{
    display: inline-block;
    margin-bottom:48px;
    margin-top:120px;
    width:100%;
    text-align: left;
    max-width: 900px;
}

#entire{
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    text-align: center;
    margin-top: 100px;
}

#single-info{
    text-align: left;
}

#song{
    padding:28px;
    margin:0;
    font-size:16px;
    color:white;
    padding-left: 50px;
    overflow:hidden;
}

#song::first-letter {
    /*color:rgba(255,255,255,0.5);*/
}

#song::last-letter {
    color:rgba(255,255,255,0.5);
}

.song-info:hover{
    background-color:rgba(0,0,0,0.4);
    cursor:pointer;
}

.song-info:hover > .playButtons{
    visibility:visible;
}

.song-info:hover > .timeline{
    visibility:visible;
}

.song-info:hover > .removeFromList{
    visibility:visible;
}


#song01{
    visibility:visible;
    opacity:1;
    position:relative;
    display:none;
}

#myModal{
    width:100%;
    /*height:100%;*/
    min-height: 960px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.298039), rgb(54, 54, 54));
}

#back-img{
    /*filter: blur(20px)*/
}

.song-info{
    display:inline-block;
    position: relative;
    width: 100%;
    height: 80px;
}
/*
@media screen and (min-width: 430px){
    .songDiv{
        width:220px;
    }
}

@media screen and (min-width: 580px){
    .songDiv{
        width: 80%;
    }
}
*/


.songTime{
    color:rgba(255,255,255,0.5);
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 30px;
}

/*
@media screen and (min-width: 788px) {
    #left{
    margin: 0 1.6rem;
    }
    #right{
        width:64%;
    margin: 0;
    }
}
*/

.timeline{
    width:100%;
    height:2px;
    background:rgba(0,0,0,0);
}

.pastime{
        height:2px;
        background:orange;
    }

#add_to_list{
    display:inline-block;
    color:white;
    background-color:rgba(0,0,0,0);
    border-color:rgba(0,0,0,0);
    font-size:28px;
    font-weight:bold;
    position: relative;
    bottom: 3px;
}

.addList{
    display: inline-block;
    margin-bottom: 0;
    vertical-align: sub;
    text-align:right;
    position:absolute;
    right:25%;
    visibility:hidden;
}

.addList:hover{
    opacity:0.7;
    cursor:pointer;
}

#mainPlayButton{
    visibility:hidden;
}

#songName{
    display:inline-block;
}

.pastime{
    display:none;
}

#remove_from_list{
    border-color:rgba(0,0,0,0);
    background-color:rgba(0,0,0,0);
    color:white;
    font-weight:bold;
    font-size:24px;
    display:inline-block;
}

#remove_from_list:hover{
    cursor:pointer;
}

.removeFromList{
    width: 32px;
    display: inline-block;
    position: absolute;
    top: 22px;
    margin: 0;
    right: 50px;
    visibility: hidden;
    z-index:100;
}

.removeFromList:hover{
    cursor:pointer;
}

/*
@media screen and (min-width: 560px) {
    #song{
        width:auto;
    }
    #right{
        min-width:0;
    }

}
*/
#share_link{
    margin: 10px;
}

.avg-color {
  display: inline-block;
  width: 100px;
  height: 140px;
  margin-left: 10px;
}

#sharePlaylistArea{
    text-align:center;
    background-color:rgb(54, 54, 54);
}

#sharingBlock{
    position:relative;
    top:20%;
}

#sharingTextArea{
    display:inline-block;
}

#sharingTextArea-title{
    font-size:48px;
    font-weight:bold;
    color:white;
}

#sharingTextArea-body{
    color:white;
    font-size:20px;
}

#shareList, #stopSharing{
    padding:19px;
    border:2px solid white;
    color:white;
    background-color:rgba(0,0,0,0);
    font-size:14px;
    border-radius: 10px;
    margin: 10px 30px;
}

#shareList:hover, #stopSharing:hover{
    cursor:pointer;
}

@media screen and (min-width: 586px) {
    #right{
        margin:0 1.6rem;
    }
    #song-list{
        width:80%;
    }
    #song{
        font-size:20px;
    }
}

