{% extends "base.html" %}

{% block links %}
    <a href="/admin">Refresh Current Page</a>
{% endblock %}

{% block content %}
    <div class="workerCPUTable">
        <p>Workers CPU Utilizations:</p>
        {{ workerTable }}
    </div>

    <h4>Refresh Worker CPU Utilization Table:</h4>
    <form name='refreshForm' id='refreshForm' action="" method="post" novalidate>
        <input name='form-name' value='refreshForm' hidden>
        {{ refreshForm.hidden_tag() }}
        <div>{{ refreshForm.refresh }}</div>
    </form>

    <h4>Manual Scale Up Form</h4>
    <form name='manualScalingConfigForm' id='manualScalingConfigForm' action="" method="post" novalidate>
        {{ manualScalingConfigForm.hidden_tag() }}
        <input name='form-name' value='manualScalingConfigForm' hidden>
        <div>
            {{ manualScalingConfigForm.manualScaleUp.label }}<br>
            {{ manualScalingConfigForm.manualScaleUp() }}<br>
            {% for error in manualScalingConfigForm.manualScaleUp.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>{{ manualScalingConfigForm.submitConfig }}</div>
    </form>
{% endblock %}