{% extends "base.html" %}

{% block links %}
    <ul>
        <li><a href="/admin">Refresh Current Page</a></li>
        <li><a href="/admin/reset">Wipe Out Everything</a></li>
    </ul>
{% endblock %}


{% block content %}
    <div class="workerCPUTable">
        <h3>Workers CPU Utilizations:</h3>
        {{ workerTable }}
        {% with messages = get_flashed_messages(with_categories=True, category_filter=['warning']) %}
            {% if messages %}
                <ul style="background-color: rgba(0,0,0,0)">
                    {% for message in messages %}
                        <li style="color: red;background-color: rgba(0,0,0,0)">{{ message[1] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <br>
    </div>

    <h3>Manual Scale Up Config</h3>
    <form name="manualScalingConfigForm" id="manualScalingConfigForm" action="" method="post" novalidate>
        {{ manualScalingConfigForm.hidden_tag() }}
        <input name="form-name" value="manualScalingConfigForm" hidden>
        <div>
            {{ manualScalingConfigForm.manualScaleUp.label }}<br>
            {{ manualScalingConfigForm.manualScaleUp() }}<br>
            <ul style="background-color: rgba(0,0,0,0)">
                {% for error in manualScalingConfigForm.manualScaleUp.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </ul>
        </div>
        <div>{{ manualScalingConfigForm.submitManualConfig() }}</div>
    </form>

    <h3>Auto Scaling Config</h3>
    <div>
        <div class="autoScalingSettingTable">
            <h4>Current auto scaling configuration:</h4>
            {{ asTable }}
            <p></p>
        </div>
        <form name="autoScalingConfigForm" id="autoScalingConfigForm" action="" method="post" novalidate>
            {{ autoScalingConfigForm.hidden_tag() }}
            <input name="form-name" value="autoScalingConfigForm" hidden>
            {% with messages = get_flashed_messages(with_categories=True, category_filter=['as_error']) %}
                {% if messages %}
                    <ul style="background-color: rgba(0,0,0,0)">
                        {% for message in messages %}
                            <li style="color: red;">{{ message[1] }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <div>
                {{ autoScalingConfigForm.scaleUpRatio.label }}<br>
                {{ autoScalingConfigForm.scaleUpRatio() }}<br>
            </div>
            <div>
                {{ autoScalingConfigForm.scaleDownRatio.label }}<br>
                {{ autoScalingConfigForm.scaleDownRatio() }}<br>
            </div>
            <div>
                {{ autoScalingConfigForm.scaleUpThreshold.label }}<br>
                {{ autoScalingConfigForm.scaleUpThreshold() }}<br>
            </div>
            <div>
                {{ autoScalingConfigForm.scaleDownThreshold.label }}<br>
                {{ autoScalingConfigForm.scaleDownThreshold() }}<br>
            </div>
            <div>{{ autoScalingConfigForm.submitAutoConfig() }}</div>
        </form>
    </div>
{% endblock %}