{% extends "base.html" %}
{% block links %}
    <a href="/home">Home</a>
    <a href="/logout">Log Out</a>
{% endblock %}
{% block content %}
<head>
<link rel="stylesheet" type="text/css" href="../static/homepage.css">
</head>

<h1>Hi, {{ username }}!</h1>
<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <h1>Upload images</h1>
    <hr>
    <strong>Images:</strong><br>
    {{ form.hidden_tag() }} <br>
    {{ form.file }} <br>
    {% for error in form.file.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    <input type="submit" value="Upload!" id="upload-button">
</form>
    <hr>
    <!-- 触发弹窗 - 图片改为你的图片地址 -->
    {% for image_name in image_names %}
        <img class="originThumbnails" src="{{url_for('send_thumbnail', filename=image_name)}}">
    {% endfor %}
        <!-- 弹窗 -->
        <div id="myModal" class="modal">
        <!-- 关闭按钮 -->
        <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
        <!-- 弹窗内容 -->
        <img class="modal-content" id="img01">
            <!-- 在此加入slides部分 -->
            <div class="w3-content">
              <img id="pic01" class="mySlides" src="img01.jpg" style="width:60%">
              <img id="pic02" class="mySlides" src="img01.jpg" style="width:60%">
              <img id="pic03" class="mySlides" src="img01.jpg" style="width:60%">
              <div class="w3-row-padding w3-section">
                  <img id="slide01" class="demo w3-opacity w3-hover-opacity-off" src="img02.jpg" style="width:10%" onclick="currentDiv(1)">
                  <img id="slide02" class="demo w3-opacity w3-hover-opacity-off" src="img02.jpg" style="width:10%" onclick="currentDiv(2)">
                  <img id="slide03" class="demo w3-opacity w3-hover-opacity-off" src="img02.jpg" style="width:10%" onclick="currentDiv(3)">
              </div>
            </div>
    </div>
<script src="../static/homepage.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

