{% extends "base.html" %}

{% block links %}
    <a hidden href="/signup" style="color:white;">New user? Sign up here!</a>
{% endblock %}

{% block content %}
<head>
<link rel="stylesheet" type="text/css" href="../static/login.css">
</head>
    <div class="welcome-block">
    <h1 id="welcome-words">Welcome to Image Uploader</h1>
    <div class="buttons">
    <button class="home-button" onclick="document.getElementById('id01').style.display='block'" style="font-size:15px;">Sign In</button>
    <button class="home-button" onclick="document.getElementById('id02').style.display='block'" style="font-size:15px;">Sign Up</button>
    </div>
    </div>



<div id="id01" class="modal">
    <form class="modal-content animate" action="" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <!--<img src="img_avatar2.png" alt="Login" class="avatar">-->
      <h2>Sign In</h2>
    </div>
        <div class="container">
        <form id="loginform" action="" method="post">
            {{ form.hidden_tag() }}
            <div>
                {{ form.username(class="username",type="text", placeholder="Username",size=32) }}<br>
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <hr style="color:lightgrey;">
            <div>
                {{ form.password(class="password", type="password", placeholder="Password", size=32) }}<br>
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <hr style="color:lightgrey;">
            <p>{{ form.remember_me() }} {{ form.remember_me.label(style="color:gray") }}</p>
            <p>{{ form.submit(class="button", style="font-size:15px")}}</p>
        </form>
        </div>
    </form>
</div>

<div id="id02" class="modal">
    <form class="modal-content animate" action="{{ url_for('signup') }}" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
      <!--<img src="img_avatar2.png" alt="Sign Up" class="avatar">-->
      <h2>Sign Up</h2>
    </div>
        <div class="container">
        <form action="{{ url_for('signup') }}" method="post">
        {{ form1.hidden_tag() }}
        <div>
            {{ form1.username(placeholder="Username",size=32) }}<br>
            {% for error in form1.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <hr style="color:lightgrey;">
        <div>
            {{ form1.password(placeholder="Password",size=32) }}<br>
            {% for error in form1.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <hr style="color:lightgrey;">
        <div>
            {{ form1.password2(placeholder="Repeat Password",size=32) }}<br>
            {% for error in form1.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <hr style="color:lightgrey;">
        <div>
            {{ form1.email(placeholder="Email", size=128) }}<br>
            {% for error in form1.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <hr style="color:lightgrey;">
        <div>{{ form1.submit(class="button", style="font-size:15px") }}</div>
    </form>
        </div>
    </form>
</div>

<script src="../static/login.js" type="text/javascript" charset="utf-8"></script>

{% endblock %}

